#users {
  position: absolute;
  width: calc(100% - 48px); // pras propre
  top: -100vh;
  height: calc(100vh - (48px + 36px));
  transition: all .3s ease;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.displayed {
    top: 72px;
  }

  .close {
    background-color: $leboncoinOrange;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .user {
    cursor: pointer;
    background-color: $leboncoinOrange;
    border-radius: 4px;
    margin: 8px 0;
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -1px 4px 0 rgb(26 26 26 / 8%), 0 4px 8px 0 rgb(26 26 26 / 12%);

    p {
      color: white;
      font-size: 30px;
      
    }
  }
}